backend/course-project-ii-suyanx-d234ab287080.json
backend/course-project-suyanx-dcb09145387c.json
backend/RawData/*
backend/uploads/*
backend/__pycache__
Data/*
Data.zip
Untitled.ipynb
NewData/*
.ipynb_checkpoints